<!doctype html>
<html lang="zh-TW" ng-app="web-stream-wall">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Web Stream Wall</title>
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="index/main.min.css"/>
		<script src="index/main.min.js"></script>
	</head>
	<body ng-controller="IndexCtrl" style="padding: 10px;">
		<div>
			<label>
				<span translate>Autoplay</span>
				<input ng-model="autoplay" type="checkbox"/>
			</label>
			<button ng-click="openAddModal()" ng-show="manager" class="btn btn-primary btn-xs" translate>Add</button>
			<a href="{{magicurl}}" target="_blank" style="cursor: default; width: 10em; display: inline-block; float: right;">&nbsp;</a>
		</div>
		<div style="text-align: center;">
			<div ng-repeat="stream in streams" class="stream-block">
				<div ng-show="stream.disable && !manager" class="video" style="position: absolute;">
					<a href="{{stream.url || stream.embed}}" target="_blank" class="vertical-middle" style="height: 100%; font-size: 2.5em; cursor: pointer;">
						<span tooltip="{{stream.name}}">{{stream.name}}</span>
					</a>
				</div>
				<iframe ng-src="{{getUrl(stream)}}" scrolling="no" frameborder="0" class="video" style="border: 0px none transparent;"></iframe>
				<div ng-show="manager" style="position: absolute; top: 0px; right: 3px;">
					<button ng-show="!$first" ng-click="move($index, $index-1)" class="btn btn-info btn-xs glyphicon glyphicon-arrow-left"></button>
					<button ng-show="!$last" ng-click="move($index, $index+1)" class="btn btn-info btn-xs glyphicon glyphicon-arrow-right"></button>
					<button ng-click="toggleStream(stream)" ng-class="{'glyphicon-plus': stream.disable, 'glyphicon-remove': !stream.disable}" class="btn btn-warning btn-xs glyphicon"></button>
				</div>
			</div>
		</div>
	</body>
</html>
